@import url("https://use.typekit.net/vti3bpo.css");

:root {
    --yellow: #FFDE00;
    --blue: #1F1ABF;
    --diff: #E0C4BF;
    --black: #1A1A1A;
    --font: alternate-gothic-atf;
    --max-width: 1280px;
}

::selection {
    background-color: white;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: var(--font);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: none;
}

html {
    font-size: 28px;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    /* margin-block-start: 0; */
    /* margin-block-end: 0; */
}

@media (max-width: 780px) {
    html {
        font-size: 16px;
    }
}
