@import url("https://use.typekit.net/vti3bpo.css");

:root {
    --yellow: #FFDE00;
    --blue: #1F1ABF;
    --black: #1A1A1A;
    --font: alternate-gothic-atf;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--blue);
    font-family: var(--font);
    cursor: none;
}

html {
    font-size: 16px;
    overscroll-behavior: none;
}

@media (max-width: 780px) {
    html {
        font-size: 12px;
    }
}
